
{% extends "parent.html" %}

{% block body %}
{% load static %}
<!--- cat body--->
<div class="row mt-5 text-center"><h1> COMING SOON LIVE CATs</h1></div>
<div class="row mt-1 text-center"> <img src="{% static 'images/coming.jpg' %}" alt="Girl in a jacket"  height="400">  </div>

<div class="row mt-5 text-center"><h1> Types Of Cats</h1></div>
<div class="row my-5">
	<div class="col-sm text-center">
	<div class="">  <img src="{% static 'images/a (1).png' %}" alt="" height="200px" >   <h4>Chartreux cat</h4>	</div>	</div>
	<div class="col-sm text-center ">
	<div class=""> <img src="{% static 'images/a(2).png' %}" alt="" height="200px">	</div>	<h4>Turkish cat</h4>	</div>
	<div class="col-sm text-center">
	<div class="">	<img src="{% static 'images/a (3).png' %}" alt="" height="200px">	</div>	<h4>Bombay cat</h4>	</div>
	<div class="col-sm text-center">
	<div class=""> 	<img src="{% static 'images/a (4).png' %}" alt="" height="200px">	</div>	<h4>British  cat</h4>	</div>
	<div class="col-sm text-center">
	<div class=""> 	<img src="{% static 'images/a (5).png' %}" alt="" height="200px">	</div>	<h4>Siberian cat </h4>	</div>
</div>

<div class="row mx-3 mt-5">
<a href="food.html">
<img src="{% static 'images/summer.jpg' %}" alt="Girl in a jacket"  height="400" width="1200px"> 
</a>
</div>


<div class="row my-5">
	<div class="col-sm text-center">
	<div class=" ">  <a href="food.html"> <img src="{% static 'images/aa.webp' %}" alt="" height="300px" ></a> </div> </div>
	<div class="col-sm text-center ">
	<div class=""> <a href="food1.html"><img src="{% static 'images/aa1.webp' %}" alt="" height="300px"> </a>	</div>	</div>
	<div class="col-sm text-center">
	<div class="">	<a href="food.html"><img src="{% static 'images/aa2.webp' %}" alt="" height="300px">	</a></div>	</div>
	<div class="col-sm text-center">
	<div class=""> <a href="kid.html">	<img src="{% static 'images/aa3.webp' %}" alt="" height="300px"> </a>	</div>	</div>
	<div class="col-sm text-center">
	<div class=""> <a href="food2.html">	<img src="{% static 'images/aa4.webp' %}" alt="" height="300px"></a>	</div>	</div>
</div>

<div class="row my-5">
	<div class="col-sm text-center">
	<div class=""> <a href="kid.html"> <img src="{% static 'images/ab.webp' %}" alt="" height="300px" > </a></div> </div>
	<div class="col-sm text-center ">
	<div class=""> <a href="kid1.html"> <img src="{% static 'images/ab1.webp' %}" alt="" height="300px">	</a></div>	</div>
	<div class="col-sm text-center">
	<div class="">	<a href="kid2.html"><img src="{% static 'images/ab2.webp' %}" alt="" height="300px">	</a></div>	</div>
	<div class="col-sm text-center">
	<div class=""> 	<a href="kid3.html"><img src="{% static 'images/ab3.webp' %}" alt="" height="300px">	</a></div>	</div>
	<div class="col-sm text-center">
	<div class=""> 	<a href="kid4.html"><img src="{% static 'images/ab4.webp' %}" alt="" height="300px">	</a></div>	</div>
</div>

<div class="row my-5">
	<div class="col-sm text-center">
	<div class=" "> <a href="food3.html">  <img src="{% static 'images/ac.webp' %}" alt="" height="300px" ></a> </div> </div>
	<div class="col-sm text-center ">
	<div class=""> <a href="food3.html"> <img src="{% static 'images/ac1.webp' %}" alt="" height="300px">	</a></div>	</div>
	<div class="col-sm text-center">
	<div class="">	<a href="food4.html"><img src="{% static 'images/ac2.webp' %}" alt="" height="300px">	</a> </div>	</div>
	<div class="col-sm text-center">
	<div class=""> 	<a href="food5.html"><img src="{% static 'images/ac3.webp' %}" alt="" height="300px">	</a> </div>	</div>
	<div class="col-sm text-center">
	<div class=""> <a href="food6.html">	<img src="{% static 'images/ac4.webp' %}" alt="" height="300px"></a>	</div>	</div>
</div>

<div class="row my-5">
	<div class="col-sm text-center">
	<div class=" "> <a href="food7.html"> <img src="{% static 'images/ad.webp' %}" alt="" height="300px" > </a></div> </div>
	<div class="col-sm text-center ">
	<div class=""> <a href="kid5.html"><img src="{% static 'images/ad1.webp' %}" alt="" height="300px"></a>	</div>	</div>
	<div class="col-sm text-center">
	<div class="">	<a href="kid6.html"><img src="{% static 'images/ad2.webp' %}" alt="" height="300px">	</a></div>	</div>
	<div class="col-sm text-center">
	<div class=""> <a href="food7.html">	<img src="{% static 'images/ad3.webp' %}" alt="" height="300px"></a>	</div>	</div>
	<div class="col-sm text-center">
	<div class=""> 	<a href="kid7.html"><img src="{% static 'images/ad4.webp' %}" alt="" height="300px">	</a></div>	</div>
</div>

<div class="row mx-3 mt-5">
<img src="{% static 'images/catdr.webp' %}" alt="Girl in a jacket"  height="300"> 
</div>
{% endblock %}






	





















