{% extends "parent.html" %}

{% block body %}
{% load static %}

<!--- cat body--->
<div class="row mt-5 text-center"><h1> COMING SOON LIVE DOGS</h1></div>
<div class="row mt-1 text-center"> <img src="{% static 'images/dog.webp' %}" alt="Girl in a jacket"  height="400">  </div>

<div class="row mt-5 text-center"><h1> Types Of Dogs</h1></div>
<div class="row my-5">
	<div class="col-sm text-center">
	<div class=" ">  <img src="{% static 'images/d1.jpg' %}" alt="" height="200px" >   <h4>Akita dog</h4> <p> The Akita is a muscular, double-coated dog of ancient Japanese lineage for their dignity…	 </p>	</div>	</div>
	<div class="col-sm text-center ">
	<div class=""> <img src="{% static 'images/d2.jpg' %}" alt="" height="200px">	</div>	<h4>Affenpinscher dog</h4> <p> Loyal, curious, and famously amusing, this almost-human toy dog is fearless out of all proportio…	 </p>	</div>
	<div class="col-sm text-center">
	<div class="">	<img src="{% static 'images/d3.jpg' %}" alt="" height="200px">	</div>	<h4>Afghan Hound</h4> <p>Among the most eye-catching of all dog breeds, the Afghan Hound is an aloof and dignified… </p>	</div>
	<div class="col-sm text-center">
	<div class=" mt-5"> 	<img src="{% static 'images/d4.jpg' %}" alt="" height="200px">	</div>  <h4>American Hairless</h4> <p>The American Hairless Terrier, a Louisiana native, is a smart, inquisitive, and playful dog tha…</p></div>
	<div class="col-sm text-center">
	<div class="mt-5"> 	<img src="{% static 'images/d5.jpg' %}" alt="" height="200px">	</div>  <h4>American Bulldog</h4> <p>American Bulldogs are a well-balanced athletic dog that demonstrate great strength, endurance…</p></div>
	<div class="col-sm text-center">
	<div class="mt-5"> 	<img src="{% static 'images/d6.jpg' %}" alt="" height="200px">	</div>  <h4>American Eskimo</h4> <p>The American Eskimo Dog combines striking good looks with a quick and clever mind in a total…</p> </div>
</div>

<div class="row"> 
<div class="col-5 m-5"> <img src="{% static 'images/doglove.jpg' %}" alt="Girl in a jacket"  height="400" width="600">  </div>	<div class="col-5 m-5 text-center">  <h1 class="mt-5">Dog just be a friend</h1> <h4 class="mt-5"> Have both dogs on-leash. Take the dogs for a walk together, keeping 10 feet between them so that they can't greet each other or stare. The idea is to acclimate them to each other's presence without causing tension. ... Before the in-house introduction, take the resident dog out to the yard. now online sale dog and cat.</h4>  </div>	</div>

<div class="row mx-3 mt-5">
<a href="dkid.html">
<img src="{% static 'images/summer1.jpg' %}" alt="Girl in a jacket"  height="400" width="1200px">
</a> 
</div>


<div class="row my-5">
	<div class="col-sm text-center">
	<div class=" shadow-sm">  <a href="dfood.html"><img src="{% static 'images/da1.webp' %}" alt="" height="300px" > </a></div> </div>
	<div class="col-sm text-center ">
	<div class=""> <a href="dfood.html"> <img src="{% static 'images/da2.webp' %}" alt="" height="300px"></a>	</div>	</div>
	<div class="col-sm text-center">
	<div class="">	<a href="dkid.html"><img src="{% static 'images/da3.webp' %}" alt="" height="300px">	</a></div>	</div>
	<div class="col-sm text-center">
	<div class=""> <a href="dfood1.html">	<img src="{% static 'images/da4.webp' %}" alt="" height="300px"></a>	</div>	</div>
	<div class="col-sm text-center">
	<div class=""> <a href="dkid1.html">	<img src="{% static 'images/da5.webp' %}" alt="" height="300px"></a>	</div>	</div>
</div>

<div class="row my-5">
	<div class="col-sm text-center">
	<div class=" shadow-sm"> <a href="dkid2.html"> <img src="{% static 'images/db1.webp' %}" alt="" height="300px" ></a> </div> </div>
	<div class="col-sm text-center ">
	<div class=""> <a href="dkid2.html"><img src="{% static 'images/db2.webp' %}" alt="" height="300px"></a>	</div>	</div>
	<div class="col-sm text-center">
	<div class="">  <a href="dkid3.html">	<img src="{% static 'images/db3.webp' %}" alt="" height="300px"></a>	</div>	</div>
	<div class="col-sm text-center">
	<div class=""> 	<a href="dkid4.html"><img src="{% static 'images/db4.webp' %}" alt="" height="300px"></a>	</div>	</div>
	<div class="col-sm text-center">
	<div class=""> 	<a href="dkid5.html"><img src="{% static 'images/db5.webp' %}" alt="" height="300px"></a>	</div>	</div>
</div>

<div class="row my-5">
	<div class="col-sm text-center">
	<div class=" shadow-sm"> <a href="dfood.html"> <img src="{% static 'images/dc1.webp' %}" alt="" height="300px" > </a></div> </div>
	<div class="col-sm text-center ">
	<div class=""> <a href="dfood2.html"> <img src="{% static 'images/dc2.webp' %}" alt="" height="300px"></a>	</div>	</div>
	<div class="col-sm text-center">
	<div class="">  <a href="dfood3.html">	<img src="{% static 'images/dc3.webp' %}" alt="" height="300px">	</a></div>	</div>
	<div class="col-sm text-center">
	<div class=""> <a href="dfood4.html">	<img src="{% static 'images/dc4.webp' %}" alt="" height="300px"></a>	</div>	</div>
	<div class="col-sm text-center">
	<div class=""> 	<a href="dfood5.html"><img src="{% static 'images/dc5.webp' %}" alt="" height="300px">	</a></div>	</div>
</div>

<div class="row my-5">
	<div class="col-sm text-center">
	<div class=" shadow-sm"> <a href="dkid6.html"> <img src="{% static 'images/dd1.webp' %}" alt="" height="300px" ></a> </div> </div>
	<div class="col-sm text-center ">
	<div class=""> <a href="dkid6.html"><img src="{% static 'images/dd2.webp' %}" alt="" height="300px"></a>	</div>	</div>
	<div class="col-sm text-center">
	<div class="">	<a href="dkid7.html"><img src="{% static 'images/dd3.webp' %}" alt="" height="300px">	</a></div>	</div>
	<div class="col-sm text-center">
	<div class=""> 	<a href="dkid8.html"><img src="{% static 'images/dd4.webp' %}" alt="" height="300px">	</a></div>	</div>
	<div class="col-sm text-center">
	<div class=""> 	<a href="dkid9.html"><img src="{% static 'images/dd5.webp' %}" alt="" height="300px"></a>	</div>	</div>
</div>

<div class="row mx-3 mt-5">
<img src="{% static 'images/dogdr.webp' %}" alt="Girl in a jacket"  height="300"> 
</div>


{% endblock %}