{% extends "adminparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;">View  Products</h1>   
            <table class="table table-bordered" style="margin: auto;">
            <tr>
                <th>Id</th>
                <th>Product name</th>
                <th>mfg date</th>
                <th>Exp date</th>
                <th>Price</th>
                <th>Product images</th>
            </tr>
            {% for p in prod %}
            <tr>
    
         
            <td>{{p.pid}}</td>
            <td>{{p.productname}}</td>
            <td>{{p.mfgdate}}</td>
            <td>{{p.expdate}}</td>
            <td>{{p.price}}</td>
            
            <td>
                <img src="{{p.productpic.url}}"/>

            </td>
            <td> 
                <a href="{% url 'adminapp:delprod' pid=p.pid  %}">
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>
            </td>
            </tr>
            {% endfor %}
            </table>
              
        </div>
    </div>
{% endblock body %}
