{% extends "customerparent.html" %}
{% block body %}
{% load static %}



<div class="row " style="background-color:rgb(237,236,234);">

<!---body shoes-->
<div class="col-sm-8 m-5 bg-white ">
<div class="row text-danger"> <h1 class="ps-5 pt-2 pb-0 mb-0">Shopping Cart</h1> <hr></div>

<div class="row"> <div class="card mb-3 border border-0" style="max-width: 1100px; height:300px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{% static 'images/dd5.webp' %}" class="img-fluid rounded-start mx-3" alt="..."  style="height:300px;">
    </div>
    <div class="col-md-8">
      <div class="card-body border border-0" style="max-width: 800px; height:300px;">
        <h5 class="card-title">Sheba Chicken & Chicken Whitefish Sasami Selection Melty Premium Cat Treats  </h5>
        <p class="card-text text-danger mb-2">Only 3 left in stock</p>
        <p class="card-text mb-2" ><small class="text-body-secondary ">Eligible for FREE Shipping</small></p>
        <p class="card-text mb-2"><small class="text-body-secondary"><i class="fa-solid fa-square-check"></i> This will be a gift <a href="#" > Learn more</a></small></p>
        <p class="card-text mb-2"> <b>Size:</b><small> 6*48g(4pcs) </small></p>
        <p class="card-text mt-2"><h5>Rs. 612.00  </h5></p>
	
<div class="d-grid gap-2 d-md-block  text-white fw-bold mt-4">
		<button type="button" class="btn btn-dark fw-bold">Quantity: 2<i class="fa-solid fa-square-caret-down"></i></button>
                <button type="button" class="btn btn-white fw-bold">Delete</button>
                <button type="button" class="btn btn-white fw-bold">save for later</button>
                <button type="button" class="btn btn-white fw-bold">See more like this</button>
                <button type="button" class="btn btn-white fw-bold">Share</button>

</div>
      </div>
    </div>
  </div>
</div>

</div>
<hr class="m-0 p-0">


</div>

<!---body shoes  price-->

<div class="col-sm-3 my-5"> 
<div class="card text-center mb-3" style="width: 18rem; height:300px">
  <div class="card-body">
        <p class="card-text mb-4"><i class="fa-solid fa-check-to-slot"></i><b class="fs-6 text-success">This will be a gift  Learn more</b> Select this  option at checkout Detail</p>
	<h5 class="mb-3">Subtotal (2 items:)₹1224.00 </h5>    
        <p class="card-text "><i class="fa-solid fa-square-check"></i> &nbsp; &nbsp;This order contains a gift </p>
    <a href="#" class="btn btn-warning mb-4" style="width:240px">Proceed to buy</a>
    <button type="button" class="btn btn-dark fw-bold"  style="width:240px">EMI Avaliable</button>

  </div>
</div>
</div>


<div class="row mt-5">
	
	<div class="col-sm-3">
		
		<div class="card" >
  		<img src="{% static 'images/dfood3.jpg' %}" class="card-img-top" alt="...">
 		<div class="card-body">
    		<h5 class="card-title">Rs .578/1kg</h5>
		<p class="fw-bold">Grain Zero </p>
    		<small class="card-text d-block ">Signature Grain Zero Persian And Long Coat Dry Cat Food  for persians and long-coat cats.</small>
    		<div>
			<a href="call" class="btn btn-info text-white ">Add to Card </a> <a href="https://rzp.io/l/qVGlmJMg" class="btn btn-info float-end text-white">Buy Now</a>
		</div>
  		</div></div>
	</div>

	<div class="col-sm-3">
		
		<div class="card" >
  		<img src="{% static 'images/dfood6.jpg' %}" class="card-img-top" alt="...">
 		<div class="card-body">
    		<h5 class="card-title">Rs .648/1kg</h5>
		<p class="fw-bold"> Pedigree </p>
    		<small class="card-text d-block">Pedigree Puppy Dry Dog Food, Chicken & Milk. Hypoallergenic complete nutrition</small>
    		<div>
			<a href="#" class="btn btn-info text-white">Add to Card </a> <a href="https://rzp.io/i/ILgYPC4Il" class="btn btn-info float-end text-white">Buy Now</a>
		</div>
  		</div></div>
	</div>

	<div class="col-sm-3">

		<div class="card" >
  		<img src="{% static 'images/dfood8.webp' %}" class="card-img-top" alt="..."  >
 		<div class="card-body">
    		<h5 class="card-title">Rs .189/1kg</h5>
		<p class="fw-bold"> Budgies Food </p>
    		<small class="card-text d-block">Natural & Healthy Premium Mix Seeds, | Daily Bird Budgies Food Seeds| All Life Stages.</small>
    		<div>
			<a href="#" class="btn btn-info text-white">Add to Card </a> <a href="https://rzp.io/i/ILgYPC4Il" class="btn btn-info float-end text-white">Buy Now</a>
		</div>
  		</div></div>
	</div>

	<div class="col-sm-3">
	
		<div class="card">
  		<img src="{% static 'images/dfood10.webp' %}" class="card-img-top" alt="...">
 		<div class="card-body">
    		<h5 class="card-title">Rs . 249/500g</h5>
		<p class="fw-bold"> Fish Food </p>
    		<small class="card-text d-block">Tunai Tropical Fish Food for Aquarium with 26% Protein Perfect for Adult Small & Medium Fish</small>
    		<div>
			<a href="#" class="btn btn-info text-white">Add to Card </a> <a href="https://rzp.io/i/ILgYPC4Il" class="btn btn-info float-end text-white">Buy Now</a>
		</div>
  		</div></div>
	</div>

</div>




<div class="row mt-5">
	
	<div class="col-sm-3">
		
		<div class="card" >
  		<img src="{% static 'images/dfood12.webp' %}" class="card-img-top" alt="...">
 		<div class="card-body">
    		<h5 class="card-title">Rs .578/1kg</h5>
		<p class="fw-bold">Grain Zero </p>
    		<small class="card-text d-block ">Signature Grain Zero Persian And Long Coat Dry Cat Food  for persians and long-coat cats.</small>
    		<div>
			<a href="call" class="btn btn-info text-white ">Add to Card </a> <a href="https://rzp.io/l/qVGlmJMg" class="btn btn-info float-end text-white">Buy Now</a>
		</div>
  		</div></div>
	</div>

	<div class="col-sm-3">
		
		<div class="card" >
  		<img src="{% static 'images/dfood2.webp' %}" class="card-img-top" alt="...">
 		<div class="card-body">
    		<h5 class="card-title">Rs .648/1kg</h5>
		<p class="fw-bold"> Pedigree </p>
    		<small class="card-text d-block">Pedigree Puppy Dry Dog Food, Chicken & Milk. Hypoallergenic complete nutrition</small>
    		<div>
			<a href="#" class="btn btn-info text-white">Add to Card </a> <a href="https://rzp.io/i/ILgYPC4Il" class="btn btn-info float-end text-white">Buy Now</a>
		</div>
  		</div></div>
	</div>

	<div class="col-sm-3">

		<div class="card" >
  		<img src="{% static 'images/dfood9.webp' %}" class="card-img-top" alt="..."  >
 		<div class="card-body">
    		<h5 class="card-title">Rs .189/1kg</h5>
		<p class="fw-bold"> Budgies Food </p>
    		<small class="card-text d-block">Natural & Healthy Premium Mix Seeds, | Daily Bird Budgies Food Seeds| All Life Stages.</small>
    		<div>
			<a href="#" class="btn btn-info text-white">Add to Card </a> <a href="https://rzp.io/i/ILgYPC4Il" class="btn btn-info float-end text-white">Buy Now</a>
		</div>
  		</div></div>
	</div>

	<div class="col-sm-3">
	
		<div class="card">
  		<img src="{% static 'images/dfood5.webp' %}" class="card-img-top" alt="...">
 		<div class="card-body">
    		<h5 class="card-title">Rs . 249/500g</h5>
		<p class="fw-bold"> Fish Food </p>
    		<small class="card-text d-block">Tunai Tropical Fish Food for Aquarium with 26% Protein Perfect for Adult Small & Medium Fish</small>
    		<div>
			<a href="#" class="btn btn-info text-white">Add to Card </a> <a href="https://rzp.io/i/ILgYPC4Il" class="btn btn-info float-end text-white">Buy Now</a>
		</div>
  		</div></div>
	</div>

</div>

<div class="row mt-5">
	
	<div class="col-sm-3">
		
		<div class="card" >
  		<img src="{% static 'images/dfood2.webp' %}" class="card-img-top" alt="...">
 		<div class="card-body">
    		<h5 class="card-title">Rs .578/1kg</h5>
		<p class="fw-bold">Grain Zero </p>
    		<small class="card-text d-block ">Signature Grain Zero Persian And Long Coat Dry Cat Food  for persians and long-coat cats.</small>
    		<div>
			<a href="call" class="btn btn-info text-white ">Add to Card </a> <a href="https://rzp.io/l/qVGlmJMg" class="btn btn-info float-end text-white">Buy Now</a>
		</div>
  		</div></div>
	</div>

	<div class="col-sm-3">
		
		<div class="card" >
  		<img src="{% static 'images/dfood3.jpg' %}" class="card-img-top" alt="...">
 		<div class="card-body">
    		<h5 class="card-title">Rs .648/1kg</h5>
		<p class="fw-bold"> Pedigree </p>
    		<small class="card-text d-block">Pedigree Puppy Dry Dog Food, Chicken & Milk. Hypoallergenic complete nutrition</small>
    		<div>
			<a href="#" class="btn btn-info text-white">Add to Card </a> <a href="https://rzp.io/i/ILgYPC4Il" class="btn btn-info float-end text-white">Buy Now</a>
		</div>
  		</div></div>
	</div>

	<div class="col-sm-3">

		<div class="card" >
  		<img src="{% static 'images/dfood6.jpg' %}" class="card-img-top" alt="..."  >
 		<div class="card-body">
    		<h5 class="card-title">Rs .189/1kg</h5>
		<p class="fw-bold"> Budgies Food </p>
    		<small class="card-text d-block">Natural & Healthy Premium Mix Seeds, | Daily Bird Budgies Food Seeds| All Life Stages.</small>
    		<div>
			<a href="#" class="btn btn-info text-white">Add to Card </a> <a href="https://rzp.io/i/ILgYPC4Il" class="btn btn-info float-end text-white">Buy Now</a>
		</div>
  		</div></div>
	</div>

	<div class="col-sm-3">
	
		<div class="card">
  		<img src="{% static 'images/dfood5.webp' %}" class="card-img-top" alt="...">
 		<div class="card-body">
    		<h5 class="card-title">Rs . 249/500g</h5>
		<p class="fw-bold"> Fish Food </p>
    		<small class="card-text d-block">Tunai Tropical Fish Food for Aquarium with 26% Protein Perfect for Adult Small & Medium Fish</small>
    		<div>
			<a href="#" class="btn btn-info text-white">Add to Card </a> <a href="https://rzp.io/i/ILgYPC4Il" class="btn btn-info float-end text-white">Buy Now</a>
		</div>
  		</div></div>
	</div>

</div>

{% endblock body %}